BizService/src/main/resources/BizService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://svashishtha.com/ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizService"
  targetNamespace="http://svashishtha.com/ws">
  <wsdl:types>
    <xsd:schema targetNamespace="http://svashishtha.com/ws">
      <xsd:element name="productQuery" type="tns:productQueryComplexType">
      </xsd:element>
      <xsd:element name="productQueryResult">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultItem" maxOccurs="unbounded"
              minOccurs="1">
              <xsd:complexType>
                <xsd:attribute name="productId" type="xsd:string" />
                <xsd:attribute name="price" type="xsd:int" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="productQueryComplexType">
        <xsd:sequence>
          <xsd:element name="queryItem" maxOccurs="unbounded"
            minOccurs="1">
            <xsd:complexType>
              <xsd:attribute name="productId" type="xsd:string" />
              <xsd:attribute name="qty" type="xsd:int" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryRequest">
    <wsdl:part element="tns:productQuery" name="parameters" />
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part element="tns:productQueryResult" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="BizService">
    <wsdl:operation name="query">
      <wsdl:input message="tns:queryRequest" />
      <wsdl:output message="tns:queryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BizServiceSOAP" type="tns:BizService">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="query">
      <soap:operation soapAction="http://svashishtha.com/ws/BizService/NewOperation" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizService">
    <wsdl:port binding="tns:BizServiceSOAP" name="BizServiceSOAP">
      <soap:address location="http://localhost:8080/ws/p1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>